---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/asuri.png" />
  <meta name="generator" content={Astro.generator} />
  <title>meow</title>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <Layout title='Home'>
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 py-6">
      <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <Card body='pr' title='Power Rankings' href='/pr'/>
        <Card body='player' title='Player Database' href='/player'/>
        <Card body='game' title='Game Database' href='/game'/>
      </ul>
    </div>
  </Layout>
</body>
</html>
