---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Player Database">
    <div class="h-screen bg-slate-950 text-slate-50">
        <div>
            <p>most tourneys played</p>    
            <p>most officials</p>
            <p>most communities</p>
            <p>most gold/silver/bronze medals</p>
            <p>most earnings</p>
            <p>upcoming tourneys</p>
            <p>search bar lol</p>
            <p>confirm if user/startID is real</p>
            <p>stat numbers for total users in database</p>
            <p>you shouldn't be here</p>
        </div>
        <div>

        </div>
    </div>
</Layout>
