---
import Layout from "../../layouts/Layout.astro";
import $ from "jquery";
import { parse } from 'node-html-parser';
import { countryToAlpha2 } from "country-to-iso";
import flag from 'country-code-emoji';
import { host } from "../../stuff";
import Card from "../../components/Card.astro";
---
<Layout title="Game Database">
    <div class="text-slate-100 dark:bg-slate-950 overflow-y-auto overflow-x-hidden">
        <div class="flex justify-between gap-2 flex-wrap p-3">
           <Card title="Legends" body="View all data related to any of the legends" href="./game/legends" />
           <Card title="Database" body="A large database of all of the game data, from store data to battle passes" href="./game/database" />
           <Card title="Animation Database" body="View and mess around with all of the animations" href="./game/anim" />
           <Card title="Patch History" body="In-depth information about all patches and their changes" href="./game/patch" />
           <Card title="Color Scheme Creator" body="View/Create your own color schemes" href="./game/colors" />
        </div>
	</div>
</Layout>